.a{
    height: 100px;
    width:50%;
    background-color:darkgray;
    
}
.sa{
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    position: absolute;top:720px; left:0%;
}
#ss{
    text-align: center;
    color:black;
    font:italic;
    font-size:large;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    height: 30px;
}
ul li{

    float:left;
}
ul li a{
    color: black;
    padding: 37px;
    display:block;
    text-decoration: none;
    font-size:large;
}
li a:hover{
    color:blanchedalmond;
    font-size: 20px;
    list-style: none;
}
.b{
    height: 100px;
    width: 50%;
    background-color: darkgrey;
    float:right;
    position: absolute; top:8px;right: 0px;
    
}
#abc{
    float:right;
}